body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
.hrole {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry,
.summary-entry {
  padding: 0 5%;
  margin: 10px;
}

#summary,
#workExperience,
#projects,
#education {
  padding: 2% 0 2%;
  text-align: justify;
}

h1 {
  font-size: 46px;
  color: #fff;
  line-height: 48px;
  display: inline-flex;
}

h2 {
  font-weight: bold;
  font-size: 28px;
  color: #5aa6da;
  line-height: 29px;
  padding: 10px;
  text-transform: uppercase;
}

h3 {
  font-style: italic;
  font-size: 19px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 20px;
  color: #4bb1ff;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding: 10px 5%;
}

.work-title,
.online-title,
.online-school {
  font-weight: 600;
}

.edu-title {
  font-style: italic;
  font-size: 25px;
  color: #05041f;
}

/* Navigation Bar Styling */
#nav-bar {
  width: 100%;
  background-color: #05041f;
  overflow: hidden;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
}

#nav-menu {
  padding: 0;
  list-style-type: none;
  position: relative;
  display: flex;
  max-width: 900px;
  margin: 0 auto;
  justify-content: space-around;
}

li a:hover:not(.active) {
  transition: background-color 0.2s ease-out;
  background-color: #233151;
  color: #05041f;
}

#nav-bar ul {
  position: static;
  top: 0;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

#nav-bar a {
  color: white;
}

a.nav-item {
  color: white;
  height: auto;
  padding: 10px 20px;
  margin-top: 0px;
  display: block;
  text-decoration: none;
  font-weight: 600;
}

/* end for Navigation Styling */

.online-school {
  padding: 10px;
}

.online-title {
  display: inline-flex;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  display: inline-flex;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #cc665f;
  text-decoration: none;
  display: block;
  padding: 10px 0 5px;
}

.hrole {
  display: inline-flex;
  padding-left: 10px;
  color: #6da9cf;
  font-size: 20px;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

#skills-h3 {
  color: #cc6b67;
  display: none;
}

.dark {
  background-color: #05041f;
}

.dark-text {
  color: #05041f;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear: both;
}

.light-blue {
  background-color: #6da9cf;
}

/* TODO: Replace with image later */
#header {
  background-color: #05041f;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.flex-column {
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 200px;
  };
}

@media only screen and (max-width: 750px) {
  .biopic {
    width: 200px;
  };
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }

  .flex-column {
    flex-direction: column;
  };
}
